<div class="container">
  <div class="apply">
    <h1 class="text-xs-center">Apply</h1>
    <form [ngFormModel]="applyForm" (submit)="submit()">
      <div class="row">
        <fieldset class="form-group col-xs-12 col-sm-6 col-md-4" [class.has-success]="firstName.valid && firstName.touched" [class.has-danger]="!firstName.valid && firstName.touched">
          <label for="firstName" class="form-control-label">First Name</label>
          <input type="text" id="firstNameInput" placeholder="First Name" [ngFormControl]="applyForm.controls['firstName']" class="form-control" [class.form-control-success]="firstName.valid" [class.form-control-danger]="!firstName.valid">
          <div *ngIf="firstName.touched">
            <div *ngIf="firstName.hasError('required')" class="text-help">First name is required</div>
          </div>
        </fieldset>
        <fieldset class="form-group col-xs-12 col-sm-6 col-md-3" [class.has-success]="middleName.valid && middleName.touched" [class.has-danger]="!middleName.valid && middleName.touched">
          <label for="middleName" class="form-control-label">Middle Name</label>
          <input type="text" id="middleNameInput" placeholder="Middle Name" [ngFormControl]="applyForm.controls['middleName']" class="form-control" [class.form-control-success]="middleName.valid" [class.form-control-danger]="!middleName.valid" [disabled]="noMiddleName">
          <label class="checkbox-inline">
            <input type="checkbox" id="middleNameCheckbox" [(ngModel)]="noMiddleName">
            <p class="text-muted text-help">Check here if you do not have a middle name.</p>
          </label>
          <div *ngIf="middleName.touched">
            <div *ngIf="middleName.hasError('middleNameRequired')" class="text-help">Middle name is required</div>
          </div>
        </fieldset>
        <fieldset class="form-group col-xs-12 col-sm-12 col-md-5" [class.has-success]="lastName.valid && lastName.touched" [class.has-danger]="!lastName.valid && lastName.touched">
          <label for="lastName" class="form-control-label">Last Name</label>
          <input type="text" id="lastNameInput" placeholder="Last Name" [ngFormControl]="applyForm.controls['lastName']" class="form-control" [class.form-control-success]="lastName.valid" [class.form-control-danger]="!lastName.valid">
          <div *ngIf="lastName.touched">
            <div *ngIf="lastName.hasError('required')" class="text-help">Last name is required</div>
          </div>
        </fieldset>

      </div>
    </form>
  </div>
</div>
